body{
    margin: 0 auto;
    max-width: 70%;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 25px;
}

a{
    padding: 10px;
    text-decoration: none;
    color: black;

}

h4{
    padding: 20px;
    text-align: center;
}